<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <form method="POST" action="/new">
        <input name="username" type="text">
        <textarea name="textMsg" id="textMsg"></textarea>
        <input type="submit" value="New"></input>        
    </form>     
    <a href="/"><button>Back</button></a>
</body>
</html>